*{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    font-family: 'roboto';
    color: darkslategray;
    position: relative;
}
.dx{ float: right;}
.sx{ float: left;}



/*----------------------------*/
.h100{ height: 100px;}


.img{
    height: 200px;
    width: 200px;
    background-color: violet;
}


.img img{
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
}




.h600{ height: 600px;}


.B{border: 1px solid black;}

.wrapper{
    padding:0% 10%;
    background-color: transparent;
    }

/*-------------------------*/


.clearfix::after{
    content: "";
    clear: both;
    display: table;
}



.mini-menu *,.bar *{
    display: inline-block;  
}

.top.bar{
    
    padding-top:20px ;
    padding-bottom:20px ;
    border-bottom: 2px  solid darkblue;
}


.bottom.bar{
    color: darkslategray;
    padding-top:20px ;
    padding-bottom:20px ;
}



.mini-menu.sx span{
    padding-right: 15px;
}
.mini-menu.sx span:first-child{
    border-right: 1px solid gray;
}
.mini-menu.dx span,.mini-menu.sx span:nth-child(2),.mini-menu.dx li{
    margin-left:15px;
}




button{
    font-size: 15px;
    padding: 5px 10px ;
    border-radius: 5px;
    background-color: transparent;
    border: transparent;
}
button.clear {
    color: tomato;
    background-color: transparent;
    border: 1px solid tomato;
}
button.red{
    color: white;
    border: none;
    background-color: tomato;
}
button.big{
    padding: 20px 35px ;
    font-size: 15px;
}





.container.first{
    background-image: url(../hubspot-img/jumbotron.png);
}

.first>.text-box{
    padding-top: 30px;
    width: 50%;
    float: left;
}


/*-----*/


.row{
    margin: 30px;
    position: relative;
}

.row>.text-box{
    padding: 30px;
    text-align: center;
}

    
.second>.box>.row>.col {
    padding: 10px 50px 10px 0px;
     width: 25%;
}

    .second>.box>.row>.col.img{
        width: 200px;
    }


    .second>.box>.row> .col.dx{
        width: 75%;
        padding:60px 0px;
    }
    
    .text-box span{
        margin: 10px 10px;
        display: inline-block;
    }

    
    hr{
        width: 400px;
    }





    .row.white{
        background-color: white;
    }

  
    .box{
        padding:60px;
        display: block
    }

    .left{
        float: left;
    }




/*--------------*/






.container.second,.third,.top{
 
    background-color: aliceblue;
}


    .container.fourth{
        background-color: darkturquoise;
    }

    .container.fifth{
        background-color: white;
    }

    .container.azure{
        background-color: lightskyblue;
        border-top: 2px  solid darkblue;
        border-bottom: 2px  solid darkblue;
   
       }
