*{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    font-family: 'roboto';
    color: darkslategray;
    position: relative;
}
.dx{ float: right;}
.sx{ float: left;}



/*----------------------------*/
.h100{ height: 100px;}


.img{
    height: 200px;
    width: 200px;
    background-color: violet;
}


.img img{
    max-width: 100%;
    min-height: 100%;
    object-fit: contain;
}


.center-button{
   text-align: center;
   margin: 20px;
}

.h600{ height: 600px;}


.B{border: 1px solid black;}




.container,.bar{
    padding:0% 10%;
    background-color: transparent;
    }



/*-------------------------*/


.clearfix::after{
    content: "";
    clear: both;
    display: table;
}



.mini-menu *,.bar *{
    display: inline-block;  
}

.top.bar{
    
    padding-top:20px ;
    padding-bottom:20px ;
    border-bottom: 2px  solid darkblue;
}


.bottom.bar{
    color: darkslategray;
    padding-top:20px ;
    padding-bottom:20px ;
}



.mini-menu.sx span{
    padding-right: 15px;
}
.mini-menu.sx span:first-child{
    border-right: 1px solid gray;
}
.mini-menu.dx span,.mini-menu.sx span:nth-child(2),.mini-menu.dx li{
    margin-left:15px;
}




button{
    font-size: 15px;
    padding: 5px 10px ;
    border-radius: 5px;
    background-color: transparent;
    border: transparent;
}
button.clear {
    color: tomato;
    background-color: transparent;
    border: 1px solid tomato;
}
button.red{
    color: white;
    border: none;
    background-color: tomato;
}
button.big{
    padding: 20px 35px ;
    font-size: 15px;
}


    /*-1----*/



.container.first{
    background-image: url(../hubspot-img/jumbotron.png);
}

.first>.text-box{
    padding-top: 30px;
    width: 50%;
    float: left;
}


    /*-2----*/


.row{
    padding: 30px 0px;
}

.second .row:nth-child(2){
    background-color: white;
}


.second .row>.text-box{
    padding: 30px;
    text-align: center;
}

.second>.box>.row>.col-sin {
    padding: 10px 50px 10px 0px;
     width: 200px;
}

   .col-sin>.img{
        width: 150px;
    }


    .second>.box>.row> .col-des.dx{
        width: 75%;
        padding:60px 0px;
    }
    
    .text-box span{
        margin: 10px 0px;
        display: inline-block;
    }
    
  .span-text{
      font-weight: 700;
       margin: 0px 30px;
       font-size: 20px;
    }
    
    hr{
        margin: 0 0 0 40px;
        width: 500px;
    }

    .text-box .check::before{
        margin-right: 10px;
        content: '\2713';
        color: white;
        background-color: tomato;
        font-size: 10px;
        border-radius: 50%;
        padding: 2px 4px;
        vertical-align: top;
  
    }

    span.check{
        font-weight: 500;
        margin-right: 70px;
    }



    /*-3----*/

    
    .box-third{
       


    }

    
    .col3{
        padding: 40px 5px;
        width: 32%;
        height:100%;
    }
    
    
    .col3:nth-of-type(2){
        margin: 0 0px;
    }

    .col3:nth-of-type(3){
        margin: 0 0 0 20px;
    }

    .col3:first-of-type{
    margin: 0 20px 0 0px;
}



    .col3>.text-box{
        text-align: center;
      

    }

    .col3>.text-box:nth-of-type(2){
        padding:30px 0px;
        border-bottom: 1px solid gray;
    }

    .col3>.text-box:nth-of-type(3)>h4{
        text-align: left;
        background-color: gray;
    }





/*--------------*/

    .white{
        background-color: white;
    }

  
    .box{
        margin:0px 80px ;  
    }



.container.second,.third,.top{
 
    background-color: aliceblue;
}


    .container.fourth{
        background-color: darkturquoise;
    }

    .container.fifth{
        background-color: white;
    }

    .container.azure{
        background-color: lightskyblue;
        border-top: 2px  solid darkblue;
        border-bottom: 2px  solid darkblue;
   
       }
