*{
    padding: 0px;
    margin: auto;
    box-sizing: border-box;
    font-family: 'roboto';  
    position: relative;
}

.top,.container:not(.fourth){
  color: #32495b;
}

/*wrapper*/
.container,.bar,.footer{
    padding:1% 10% 2% 10%;
    background-color: transparent;
    }

.dx{ float: right;}
.sx{ float: left;}


.text-box>*:not(:first-child){
    font-weight: 500;
    margin: 10px 0 ;
    line-height: 30px;
}

.img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.center{
   text-align: center;
   margin: auto;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/*--header---------*/


.arrow::after{
content:'\02C5';
font-weight: 900;
margin-left: 5px ;
}


.mini-menu *,.bar *{
    display: inline-block;  
}

    .top.bar{
        padding-top:20px ;
        padding-bottom:20px ;
        border-bottom: 1px  solid #32495b;
        line-height: normal;
    }
    .bottom.bar{
        color: darkslategray;
        padding-top:20px ;
        padding-bottom:20px ;
    }
    .top.bar .mini-menu.sx>*{
        height: 100%;
        line-height: 30px;
    }


.mini-menu.sx span{
    padding-right: 15px;
}
.mini-menu.sx span:first-child{
    border-right: 1px solid gray;
}
.mini-menu.dx span,.mini-menu.sx span:nth-child(2),.mini-menu.dx li{
    margin-left:15px;
}



button{
    font-size: 15px;
    padding: 5px 10px ;
    border-radius: 5px;
    background-color: transparent;
    border: transparent;
}
button.clear {
    color: tomato;
    background-color: transparent;
    border: 1px solid tomato;
}
button.red{
    color: white;
    border: none;
    background-color: tomato;
}
button.big{
    padding: 20px 35px ;
    margin-top: 20px;
    font-size: 15px;
}


 /*-1----*/


.container.first{
    background-image: url(../hubspot-img/jumbotron.png);
    background-color: #fff2ee;
    background-repeat: no-repeat;
    background-position-x: right;
}

.first>.text-box{
    height: 550px;
    width: 600px;
    padding-top: 30px;
    width: 50%;
    float: left;
}

.first .text-box>*:first-child{
    margin: 30px 0;
    font-size: 50px;
}


/*-2----*/

.second .row{
    padding: 30px 90px;
 }
 

 .second  .img+.text-box h2{
     font-size: 35px;
 }

 .second .row>.text-box{
    padding: 30px;
    text-align: center;
}

 .second .row:nth-child(2){
    border-radius: 10px;
    border:1px solid lightgray;
    background-color: white;
}

 .second .box .row .img{
    height: 200px;
    width: 250px;
}

    .second .box .col-sin .img{
        height: 150px;
        width: 150px;
    }

    .second .box .col-sin .img>.text-box{
        height: 10px;
    }

    .second>.box>.row>.col-sin {
        padding:60px 0px;
        width: 200px;
    }


   .second .col-sin>.img{
        width: 150px;
    }

    .second>.box>.row> .col-des.dx{
        width: 75%;
        padding:60px 0px;
    }
    
    .text-box span{
        font-weight: 900;
        display: inline-block;
    }  
    
    hr{
        margin-left:40px;
        width: 500px;
        height: 1px;
        background-color: darkslategray;
    }

    .text-box .check::before{
        margin-right: 10px;
        content: '\2713';
        color: white;
        background-color: tomato;
        font-size: 10px;
        border-radius: 50%;
        padding: 2px 4px;
        vertical-align: top;
    }
        .second span.check{
            margin-right: 70px;
        }


  /*-3----*/


 .third .text-box>*:first-child{
    margin: 30px 0px;
}
    
 .third .col3 .img{
     height: 100px;
     width: 100px;
}

 .third .col3{
     padding: 40px 40px;
     width: 32%;
     height:100%;
     border-radius: 10px;
     border:1px solid lightgray;
     background-color: white;
 }
    .third .col3:nth-of-type(3){
            margin: 0 0 0 20px;
        }

    .third .col3:first-of-type{
        margin: 0 20px 0 0px;
    }


    .third .col3 .text-box{
        text-align: center;
        margin-bottom: 30px;
    }

    .col3>.text-box:nth-of-type(2){    
        border-bottom: 1px solid gray;
    }

    .col3>.text-box:nth-of-type(3)>h4{
        text-align: left;
        line-height: 20px;
        margin: 0px;
    }



/*-4--*/

.fourth .text-box>*:first-child{
    margin: 30px;
    font-size: 35px;
}

    .container.fourth .row .text-box,.table {
        color: white;
        text-align: center;

    }   

        .table{
            padding-top: 50px;
            padding-bottom: 50px;
            width: 1000px;
            text-align: center;
        }

        .table h2{
            font-size: 50px;
            margin: 10px;
        }

        .table h2:after {
            content: ' \002B';
            font-size: 30px;
            vertical-align: center;
        }

            .tiny-block{
                width: 250px;
                height: 200px;
                padding: 10px;

                border-bottom: 1px solid white;
                border-right:  1px solid white;
            
            }
            .table div:nth-child(4),:last-child {
                border-right: none;
            }
            .table div:nth-child(4) ~ div {
                border-bottom: none;
            }

            .img-top{
                margin-top: 10px;
                width: 100%;
                height: 50px;
            }

            .img-top img{
            max-width: 100%;
            }

      /*-5--*/
      
    
    .fifth .text-box{
       width: 500px;
       height: auto;
    }

     .fifth .text-box:first-of-type{
        padding: 20px 60px 0 60px; 
    }

    .fifth .text-box:nth-child(2),.fifth .img{
        margin-top: 60px;
    }

    .fifth .text-box:first-of-type>h2{
        font-weight: 900;
        font-size: 50px;
    }
    .fifth .text-box:nth-child(2)>h2{
        font-size: 40px;
    }
    .fifth .img {
        margin-top: 20px;
        max-width: 350px ;
    }

     .grid{ height: 100px;
            width: 650px;
            margin: 40px 0
            }
        
     .grid-block img{ max-height: 100% ; max-width: 100px;}
        
     .grid-block:not(:nth-child(7)){ padding: 10px;}

    .grid-block{
        height: 50px;
        width: 25%;
     }

   

 /*-footer--*/


     .footer .col{
        margin: 30px 0;
        width: 25%;
    }
            
    .footer .col h4:first-child{
         font-weight: 900;
    }
                        
    .footer .box h4,.footer ul li,.footer span{
        font-weight: 400;
        color: #dadee0;
        margin: 20px 0;
    }

    .footer .box:nth-child(2){
        border-bottom: 2px solid #dadee0;
    }
        
    .footer .button{
        font-weight: 500;
        color: #32495b;
        background-color: #dadee0;
        padding: 10px 10px;
     }

    .footer ul li{
        margin: 30px 10px;
        display: inline-block;
    }

    .tiny-footer{
        margin-top: 50px;
        font-weight: 500;
    }

    .tiny-footer>h4{
        display: inline;
        padding-left: 70px;
        font-weight: 500;
   }
        .mini{
            height: 100%;
            width: 100%;
            display: inline;
            margin-left: -15px;
        }
            .mini img{
            padding: 20px 15px 0 15px;
            width: 50px;
            max-height: 100%;
            color: white;
        }


   .second,.third,.top{
      background-color: aliceblue;
    }
  
  .container.fourth{
      background-color: darkturquoise;
    }

  .container.fifth{
      background-color: white;
    }
 
 .container.azure{
     height: 100px;
     background-color: #afebe4;
     border-top: 3px  solid #32495b;
     border-bottom: 3px  solid #32495b;
    }

  .footer{
      background-color: #32495b;
  }
